<nb-card>
    <nb-card-header>
        <div class="row float-start" >
            <h4>Documentos</h4>
        </div>
        <button [hidden]="!canModify()" nbButton class="float-end" status="primary" (click)="openAddDocumentModal()">AÑADIR</button>
    </nb-card-header>
    <nb-card-body>

        <div [hidden]="!canModify()" id="filtersOnlyCanModify">
        <div  *ngIf="canAdmin()" style="margin-bottom: 15px !important">
            Consultar documentos publicados desde el día:
            <input 
            class="form-control"
            type="text"
            mwlFlatpickr
            [(ngModel)]="dayfrom"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="false"
            dateFormat="YY-m-d"
            altFormat="d/m/Y"
            (ngModelChange)="getDocs(0);"
            [disable]="[disabledDay]"
            
            />
            </div>
            

        
        <div  *ngIf="canAdmin()" style="margin-bottom: 15px !important">
            Consultar documentos publicados hasta el día:
            <input 
            class="form-control"
            type="text"
            mwlFlatpickr
            [(ngModel)]="dayto"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="false"
            dateFormat="YY-m-d"
            altFormat="d/m/Y"
            (ngModelChange)="getDocs(0);"
            [disable]="[disabledDay]"
            value = ""
            />
            </div>
    
            Con el texto:
            <input style="margin-bottom: 15px" class="form-control" [(ngModel)]="theText" name="theText" type="text"   >
            <br/>

            <hr/>
        </div>


        <app-custom-table
            [actions]="actions"
            [keys]="['Título:', 'Descripción:',  'Publicado desde:', 'Publicado hasta:', 'Subido por:']"
            [values]="docs"
            [align]="['left', 'left', 'left', 'left', 'left']"
            [filters]="[false, false, false, false, false]"
            [sort]="[false, false, false, false, false]"
            [widthToCollapse]="750"
            [withPagination]="true"
            [totalPages]="totalPages"
            [page]="page"
            [size]="size"
            [loadingE]="loadingExcel"
            [loading]="loadingPDF"
            [hasExport]="canModify()"
            (actionSelected)="action($event)"
            (changePage)="setPage($event)"
            (filterEvent)="filter(0)"
            [isProcessing]="isProcessing"
            (exportData)="getExportData($event)"
            [showSearchButton]="true"

        >

        </app-custom-table>
    </nb-card-body>


    
    <nb-card-footer>
        <button [hidden]="!canModify()" nbButton class="float-end" status="primary" (click)="openAddDocumentModal()">AÑADIR</button>
    </nb-card-footer>
</nb-card>




<ng-template #modalContent let-close="close">
    <div class="modal-header">
        <h6 *ngIf="theDoc.id==''">Añadir nuevo documento</h6>        
        <h6 *ngIf="theDoc.id!=''">Modificar documento</h6>
        <nb-icon (click)="close()" class="sidebar-toggle" icon="close-circle-outline" title="Cerrar"></nb-icon>
    </div>

    <div  class="modal-body">
        <div>

            <div *ngIf="theDoc.url==''" matTooltip="Seleccionar documento" class="file-upload">
                <button mat-mini-fab color="primary" class="form-control upload-btn" (click)="fileUpload.click()"><i class="fa-solid fa-paperclip"></i>&nbsp;Seleccione documento a subir</button>
                <input style="display:none" type="file" class="file-input" [accept]="requiredFileType" (change)="onFileSelected($event)" #fileUpload>
                &nbsp;&nbsp;<i  (click)="cancelUpload()" *ngIf="uploadProgress" class="fa-solid fa-paperclip"></i>
            </div>       
            <div *ngIf="theDoc.url!=''" matTooltip="Seleccionar documento" class="file-upload">
                <a class="form-control" target="_blank" href="{{theDoc.url}}"><i class="fa-solid fa-paperclip"></i> Abrir documento</a>
                <br/>
            </div>       


            Título (obligatorio):
            <input style="margin-bottom: 15px" class="form-control" [(ngModel)]="theDoc.title" name="theDoc-title" type="text" >
            <br/>

            Descripción (opcional): 
            <textarea rows="3" class="form-control" [(ngModel)]="theDoc.description"></textarea>
            <br/>

            <div *ngIf="canAdmin()">
                Publicado desde (opcional): <input
                class="form-control"
                type="text"
                mwlFlatpickr
                [(ngModel)]="theDoc.dayfrom"
                [altInput]="true"
                [convertModelValue]="true"
                [enableTime]="false"
                dateFormat="YY-m-d"
                altFormat="d/m/Y"
                placeholder="Indique cuando quiere que el documento se publique"
                />
                <br/>
    

                Publicado hasta (opcional): <input
                class="form-control"
                type="text"
                mwlFlatpickr
                [(ngModel)]="theDoc.dayto"
                [altInput]="true"
                [convertModelValue]="true"
                [enableTime]="false"
                dateFormat="YY-m-d"
                altFormat="d/m/Y"
                placeholder="Indique hasta cuando quiere que el documento esté publicado"
                />
                <br/>
    

                Tipos de usuario que pueden ver este documento:
                <ng-select [multiple]="true" [(ngModel)]="theDoc.roles" name="roles" placeholder="Para todos los tipos de usuario" notFoundText="Tipo de usuario no encontrado" >
                                <ng-option *ngFor="let role of allRoles"  [value]="role">{{roleName(role)}}</ng-option>
                </ng-select>

                <br/>
                <div class="form-check mt-3">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="createEventCheckbox"
                      [(ngModel)]="createEvent"
                      name="createEvent"
                    />
                    <label class="form-check-label" for="createEventCheckbox">
                      Crear un evento en el calendario para este documento
                    </label>
                  </div>
            </div>
                
        </div>
    </div>

    <div class="modal-footer">
        <button nbButton status="warning" type="button" class="btn btn-outline-secondary" (click)="close();">
            CERRAR
        </button>
        &nbsp;
        <button  *ngIf="theDoc.id==''" [disabled]="isProcessing || !theDoc.url.startsWith('https:') || theDoc.title.trim()==''"  nbButton status="primary" type="button" class="btn btn-outline-secondary" (click)="saveDoc();">
            AÑADIR DOCUMENTO
        </button>        
        <button  *ngIf="theDoc.id!=''" [disabled]="isProcessing || !theDoc.url.startsWith('https:') || theDoc.title.trim()==''"  nbButton status="primary" type="button" class="btn btn-outline-secondary" (click)="saveDoc();">
            MODIFICAR DOCUMENTO
        </button>
    </div>
</ng-template>
  


