<nb-card>
    <nb-card-body>
  
      <nb-tabset>
        <nb-tab tabTitle="NEVERA">
          
            <div>
                <div>
                    <div class="row float-start" >
                        <h6>Registro de temperatura en nevera</h6>
                    </div>
                </div>

                <div style="text-align: right;" >
                      <button [hidden]="!canModify()" nbButton style="margin-bottom: 10px" status="primary" (click)="openRegisterTempFridgeModal(true)">REGISTRAR</button>
                </div>

                <div>

                    <div style="margin-top:20px">
                    Consultar registro desde el día:
                    <input 
                    class="form-control"
                    type="text"
                    mwlFlatpickr
                    [(ngModel)]="dayfrom"
                    [altInput]="true"
                    [convertModelValue]="true"
                    [enableTime]="false"
                    dateFormat="YY-m-d"
                    altFormat="d/m/Y"
                    placeholder=""
                    (ngModelChange)="getTempFridges(0);"
                    [disable]="[disabledDay]"
                    />
                </div>

                    <div style="margin-top:15px">
                    Consultar registro hasta el día:
                    <input 
                    class="form-control"
                    type="text"
                    mwlFlatpickr
                    [(ngModel)]="dayto"
                    [altInput]="true"
                    [convertModelValue]="true"
                    [enableTime]="false"
                    dateFormat="YY-m-d"
                    altFormat="d/m/Y"
                    placeholder=""
                    (ngModelChange)="getTempFridges(0);"
                    [disable]="[disabledDay]"
                    />
                    </div>


                    <hr/>
            
                    <app-custom-table
                        [actions]="actions"
                        [keys]="['Día:', 'Temperatura:', 'Registrado por:']"
                        [values]="tempsA"
                        [align]="['left', 'left', 'left']"
                        [filters]="[false, false, false]"
                        [sort]="[false, false, false]"
                        [widthToCollapse]="750"
                        [withPagination]="true"
                        [totalPages]="totalPages"
                        [page]="page"
                        [size]="size"
                        [loadingE]="loadingExcel"
                        [loading]="loadingPDF"
                        [hasExport]="true"
                        (actionSelected)="actionA($event)"
                        (changePage)="setPageA($event)"
                        (filterEvent)="filterA(0)"
                        [isProcessing]="isProcessing"
                        (exportData)="getExportDataA($event)"
                        [showSearchButton]="false"
            
                    >
            
                    </app-custom-table>
                </div>
            

            </div>
            


        </nb-tab>


        <nb-tab tabTitle="RECEPCIÓN Y SERVICIO">
          


            <div>
                <div>
                    <div>
                        <h6>Registro de temperatura de recepción y servicio</h6>
                    </div>
                </div>

                <div style="text-align: right;" >
                    <button [hidden]="!canModify()" nbButton style="margin-bottom: 10px"  status="primary" (click)="openRegisterTempServiceModal(true)">REGISTRAR</button>
                </div>


                <div>
            
                    <div style="margin-top:20px">
                    Consultar registro desde el día:
                    <input 
                    class="form-control"
                    type="text"
                    mwlFlatpickr
                    [(ngModel)]="dayfrom"
                    [altInput]="true"
                    [convertModelValue]="true"
                    [enableTime]="false"
                    dateFormat="YY-m-d"
                    altFormat="d/m/Y"
                    placeholder=""
                    (ngModelChange)="getTempServices(0);"
                    [disable]="[disabledDay]"
                    />
                </div>

                    <div style="margin-top:15px">
                    Consultar registro hasta el día:
                    <input 
                    class="form-control"
                    type="text"
                    mwlFlatpickr
                    [(ngModel)]="dayto"
                    [altInput]="true"
                    [convertModelValue]="true"
                    [enableTime]="false"
                    dateFormat="YY-m-d"
                    altFormat="d/m/Y"
                    placeholder=""
                    (ngModelChange)="getTempServices(0);"
                    [disable]="[disabledDay]"
                    />
                    </div>


                    <hr/>
            
                    <app-custom-table
                        [actions]="actions"
                        [keys]="['Día:', 'Plato:', 'Tipo:', 'Temperatura de recepción:', 'Temperatura de servicio:', 'Registrado por:']"
                        [values]="tempsB"
                        [align]="['left', 'left', 'left', 'left', 'left', 'left']"
                        [filters]="[false, false, false, false, false, false]"
                        [sort]="[false, false, false, false, false, false]"
                        [widthToCollapse]="750"
                        [withPagination]="true"
                        [totalPages]="totalPages"
                        [page]="page"
                        [size]="size"
                        [loadingE]="loadingExcel"
                        [loading]="loadingPDF"
                        [hasExport]="true"
                        (actionSelected)="actionB($event)"
                        (changePage)="setPageB($event)"
                        (filterEvent)="filterB(0)"
                        [isProcessing]="isProcessing"
                        (exportData)="getExportDataB($event)"
                        [showSearchButton]="false"
            
                    >
            
                    </app-custom-table>
                </div>
            

            </div>
            


        </nb-tab>

        <nb-tab tabTitle="MUESTRAS">
          


            <div>
                <div>
                    <div class="row" >
                        <h6>Registro de muestras de comida</h6>
                    </div>
                </div>

                <div style="text-align: right;" >
                    <button [hidden]="!canModify()" nbButton style="margin-bottom: 10px" status="primary" (click)="openRegisterMealSampleModal(true)">REGISTRAR</button>
                </div>

            


                <div>
            
                    <div style="margin-top:20px">
                    Consultar registro desde el día:
                    <input 
                    class="form-control"
                    type="text"
                    mwlFlatpickr
                    [(ngModel)]="dayfrom"
                    [altInput]="true"
                    [convertModelValue]="true"
                    [enableTime]="false"
                    dateFormat="YY-m-d"
                    altFormat="d/m/Y"
                    placeholder=""
                    (ngModelChange)="getMealSamples(0);"
                    [disable]="[disabledDay]"
                    /></div>

                    <div style="margin-top:15px">
                    Consultar registro hasta el día:
                    <input 
                    class="form-control"
                    type="text"
                    mwlFlatpickr
                    [(ngModel)]="dayto"
                    [altInput]="true"
                    [convertModelValue]="true"
                    [enableTime]="false"
                    dateFormat="YY-m-d"
                    altFormat="d/m/Y"
                    placeholder=""
                    (ngModelChange)="getMealSamples(0);"
                    [disable]="[disabledDay]"
                    />
                    </div>


                    <hr/>
            
                    <app-custom-table
                        [actions]="actions"
                        [keys]="['Día:', 'Plato:', 'Control organolético:', 'Control cuerpos extraños:', 'Observaciones:', 'Registrado por:']"
                        [values]="mealsSamples"
                        [align]="['left', 'left', 'left', 'left', 'left', 'left']"
                        [filters]="[false, false, false, false, false, false]"
                        [sort]="[false, false, false, false, false, false]"
                        [widthToCollapse]="750"
                        [withPagination]="true"
                        [totalPages]="totalPages"
                        [page]="page"
                        [size]="size"
                        [loadingE]="loadingExcel"
                        [loading]="loadingPDF"
                        [hasExport]="true"
                        (actionSelected)="actionC($event)"
                        (changePage)="setPageC($event)"
                        (filterEvent)="filterC(0)"
                        [isProcessing]="isProcessing"
                        (exportData)="getExportDataC($event)"
                        [showSearchButton]="false"
            
                    >
            
                    </app-custom-table>
                </div>
            


            </div>


        </nb-tab>
        
      </nb-tabset>
  
    </nb-card-body>

  </nb-card>







  <ng-template #modalContentA let-close="close">
    <div class="modal-header">
        <h6>Registro de temperatura de la nevara para <span style="color:red;">{{date2Text(theTempA.day)}}</span></h6>
        <nb-icon (click)="close()" class="sidebar-toggle" icon="close-circle-outline" title="Cerrar"></nb-icon>
    </div>

    <div  class="modal-body">
        <div>

            Indique temperatura (ºC):
            <input class="form-control" [(ngModel)]="theTempA.temperature" name="theTempA-temperature" type="number"  step="0.1" >
                
        </div>
    </div>

    <div class="modal-footer">
        <button nbButton status="warning" type="button" class="btn btn-outline-secondary" (click)="close();">
            CERRAR
        </button>
        &nbsp;
        <button [disabled]="isProcessing"  nbButton status="primary" type="button" class="btn btn-outline-secondary" (click)="registerTempFridge();">
            GUARDAR CAMBIOS
        </button>
    </div>
</ng-template>
  




<ng-template #modalContentB let-close="close">
    <div class="modal-header">
        <h6>Registro de temperatura de recepción y servicio para <span style="color:red;">{{date2Text(theTempB.day)}}</span></h6>
        <nb-icon (click)="close()" class="sidebar-toggle" icon="close-circle-outline" title="Cerrar"></nb-icon>
    </div>

    <div  class="modal-body">
        <div>

            Plato:
            <input style="margin-bottom: 15px" class="form-control" [(ngModel)]="theTempB.dish" name="theTempB-dish" type="text" required >

            
            Indique temperatura de recepción (ºC):
            <input style="margin-bottom: 15px" class="form-control" [(ngModel)]="theTempB.temperature_reception" name="theTempB-temperature_reception" type="number"  step="0.1" >
                
            ¿Cómo se sirve?:
            <ng-select style="margin-bottom: 15px" [multiple]="false" [(ngModel)]="theTempB.dish_type" name="theTempB-dish_type" [clearable]="false">
                <ng-option value="FRÍO">FRÍO</ng-option>
                <ng-option value="CALIENTE">CALIENTE</ng-option>
            </ng-select>
    

            Indique temperatura de servicio (ºC):
            <input class="form-control" [(ngModel)]="theTempB.temperature_service" name="theTempB-temperature_service" type="number"  step="0.1" >
                
        </div>
    </div>

    <div class="modal-footer">
        <button nbButton status="warning" type="button" class="btn btn-outline-secondary" (click)="close();">
            CERRAR
        </button>
        &nbsp;
        <button [disabled]="isProcessing"  nbButton status="primary" type="button" class="btn btn-outline-secondary" (click)="registerTempService();">
            GUARDAR CAMBIOS
        </button>
    </div>
</ng-template>
  






<ng-template #modalContentC let-close="close">
    <div class="modal-header">
        <h6>Registro de muestras de comida para <span style="color:red;">{{date2Text(theTempB.day)}}</span></h6>
        <nb-icon (click)="close()" class="sidebar-toggle" icon="close-circle-outline" title="Cerrar"></nb-icon>
    </div>

    <div  class="modal-body">
        <div>

            Plato:
            <input style="margin-bottom: 15px" class="form-control" [(ngModel)]="theMealSample.dish" name="theMealSample-dish" type="text" required >

            
            Control organolético:
            <ng-select style="margin-bottom: 15px" [multiple]="false" [(ngModel)]="theMealSample.orgenolepticoOk" name="theMealSample-orgenolepticoOk" [clearable]="false">
                <ng-option [value]="true">BIEN</ng-option>
                <ng-option [value]="false">MAL</ng-option>
            </ng-select>
                
            Control cuerpos extraños:
            <ng-select style="margin-bottom: 15px" [multiple]="false" [(ngModel)]="theMealSample.cuerposExtraOk" name="theMealSample-cuerposExtraOk" [clearable]="false">
                <ng-option [value]="true">BIEN</ng-option>
                <ng-option [value]="false">MAL</ng-option>
            </ng-select>
    

            Observaciones y medidas correctivas:
            <textarea col="6" class="form-control" [(ngModel)]="theMealSample.comments" name="theTempB-temperature_service" ></textarea>
                
        </div>
    </div>

    <div class="modal-footer">
        <button nbButton status="warning" type="button" class="btn btn-outline-secondary" (click)="close();">
            CERRAR
        </button>
        &nbsp;
        <button [disabled]="isProcessing"  nbButton status="primary" type="button" class="btn btn-outline-secondary" (click)="registerMealSample();">
            GUARDAR CAMBIOS
        </button>
    </div>
</ng-template>
  


