::ng-deep .green { color: green }
::ng-deep .red { color: red }


::ng-deep .nb-theme-default .toastr-overlay-container { z-index: 9999999999999999 !important;}

::ng-deep .nb-theme-default .cdk-overlay-container  { z-index: 9999999999999999 !important;}

::ng-deep ul.tabset {
    overflow-x: auto !important;
    overflow-y: hidden !important;
}