.my-card {
    height: 90vh;
    position: relative;
}

.myBodyCard {
    display: flex;
    justify-content: center;
    height: 100%;
}

h1, .sub-title { text-align: center; }

.divS {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.bodyS {
    display: block;
    width: 100%;
    max-width: 40rem;
    margin: auto;
}


.i18n {
    color:black !important;
    margin-right: 1em;
    cursor: pointer;
    padding: 0.3em;
    font-weight: bold;
} 

.i18n.selected {
    background-color: #e8f0fe;
    border: 1px solid #bdc4cd;
    border-radius: .5em;
    padding: 0.3em;
    color: black !important;
}

.divLan {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}


.alert-message-list {
    padding-left: 0px;
    list-style: none;
}


.text-center {
    text-align: center;
}

.g-recaptcha {
    display: inline-block;
}
