                <div style="margin: auto 0; width: 100%;">
                    <div style="display: flex; justify-content: center; margin-bottom: 2em;">
                        <img src="../../../../../assets/logo.png" />
                    </div>
                    <div class="bodyS">
                        <h3 id="title" class="title">Solicite nueva contraseña</h3>
                        <p class="sub-title">Por favor, introduzca su usuario o email</p>
            
                        <nb-alert *ngIf="showMessagesError" outline="danger" role="alert">
                            <p class="alert-title"><b>¡Oh! ¡Vaya!</b></p>
                            <ul class="alert-message-list">
                            <li class="alert-message">{{showMessagesError}}</li>
                            </ul>
                        </nb-alert>
            
                        <nb-alert *ngIf="showMessagesSuccess" outline="success" role="alert">
                            <p class="alert-title"><b>¡Solicitud recibida!</b></p>
                            <ul class="alert-message-list">
                            <li class="alert-message">{{showMessagesSuccess}}</li>
                            </ul>
                        </nb-alert> 
            
                        <form #form="ngForm" (ngSubmit)="requestPass()" aria-labelledby="title">
            
                            <div class="form-control-group">
                            <label class="label" for="input-email-username"></label>
                            <input nbInput
                                    [(ngModel)]="email_username"
                                    #correo="ngModel"
                                    id="input-email-username"
                                    class="form- m-input"
                                    name="email"
                                    placeholder="Usuario e email"
                                    fullWidth
                                    [status]="correo.dirty ? (correo.invalid  ? 'danger' : 'success') : 'basic'"
                                    required
                                    [attr.aria-invalid]="correo.invalid && correo.touched ? true : null">
                            <ng-container *ngIf="correo.invalid && correo.touched">
                                <p class="error-message" *ngIf="correo?.errors?.required">
                                    Debe introducir su nombre de usuario o email
                                </p>
                            </ng-container>
                            </div>
            

                            
                            <div class="form-control-group captchaDiv" style="width: 100%;text-align: center; padding-bottom: 10px;">
                                <re-captcha class="g-recaptcha" [(ngModel)]="captcha" [ngModelOptions]="{standalone: true}" [siteKey]="captchaKey" required></re-captcha>
                            </div>


                            <button nbButton
                                    fullWidth
                                    status="primary"
                                    [disabled]="!form.valid || !submitted || !captcha"
                                    >
                            Solicitar nueva contraseña
                            </button>
                        </form>
            
                        <section class="sign-in-or-up" aria-label="Volver a conectarse">
                            <p style="text-align: center; margin-top: 1em"><a class="text-link" routerLink="../login">Volver a conectarse</a></p>
                        </section>
                    </div>
                </div>
