<html>

<head>
 <meta charset="UTF-8">
 <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
 <style>
  table { border : solid 1px; max-width: 100%; width: 100%; }
  th  { border : solid 1px; }
  tr { border : solid 1px; }
  td { border : solid 1px; }
 </style>
</head>

<body lang=ES>

 <div>

<p style='text-align:center'><b>INFORME PSICO-SOCIAL</b></p>

<p style='text-align:center'><b>&nbsp;</b></p>

<p><b>Centro:</b>Asociación de Familiares de enfermos de Alzheimer y otras demencias Mijas.</p>

<p><b>Fecha informe:</b> ###ips_fecha_informe###</p>

<p>&nbsp;</p>

<b>Datos personales:</b><br/>

Nombre y Apellidos: ###name### ###surname1### ###surname2### <br/>

Dirección: ###postaladdress### ###postalcode### ###cityname### ###statename###<br/>

Fecha Nacimiento: ###BIRTHDATE###<br/>

Sexo: ###SEX###<br/>

Ocupación anterior: ###OCUPACION_ANTERIOR###<br/>

Nivel escolarización: ###NIVEL_FORMATIVO###<br/>

Estado civil: ###FS_ESTADO_CIVIL###<br/>

 <p>&nbsp;</p>

  <p><b>DATOS SANITARIOS:</b><br/> ###ips_sanitarios###</p>

  <p><b>&nbsp;</b></p>

  <p><b>SITUACIÓN SOCIO-FAMILIAR:</b><br/> ###ips_sociofamiliar###</p>

  <p><b>&nbsp;</b></p>

  <p><b>EVALUACIÓN COGNITIVA:</b><br/> ###ips_evalcognitiva###</p>

  <p><b>&nbsp;</b></p>

  <p><b>EVALUACIÓN CONDUCTUAL:</b><br/> ###ips_evalconductual###</p>

  <p><b>&nbsp;</b></p>

  <p><b>EVALUACIÓN FUNCIONAL:</b><br/> ###ips_evalfuncional###</p>

  <p><b>&nbsp;</b></p>

  <p><b>SITUACIÓN ECONÓMICA:</b><br/> ###ips_situacioneconomica###</p>

  <p><b>&nbsp;</b></p>

  <p><b>OBSERVACIONES:</b><br/> ###ips_observaciones###</p>

  <p><b>&nbsp;</b></p>
  <p><b>&nbsp;</b></p>
  <p><b>&nbsp;</b></p>
  <p><b>&nbsp;</b></p>
  <p><b>&nbsp;</b></p>


  <table style="border:0">
   <tr style="border:0"><td style="width: 50%;border:0">Fdo. Lucía Cordero Sánchez</td><td style="width: 50%;border:0">Fdo. M. Carmen López Guitiérrez</td></tr>
   <tr style="border:0"><td style="width: 50%;border:0">Trabajadora Social AFAM Mijas</td><td style="width: 50%;border:0">Psicóloga AFAM Mijas</td></tr>
   <tr style="border:0"><td style="width: 50%;border:0"></td><td style="width: 50%;border:0">Coleg. Nº AO 05101</td></tr>
  </table>


 </div>

</body>

</html>
