<html>

<head>
 <meta charset="UTF-8">

 <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman",serif;}
.MsoChpDefault
	{font-family:"Calibri",sans-serif;}
.MsoPapDefault
	{margin-bottom:8.0pt;
	line-height:107%;}
@page WordSection1
	{size:595.3pt 841.9pt;
	margin:70.85pt 3.0cm 70.85pt 3.0cm;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
-->
</style>

</head>

<body lang=ES>

<div class=WordSection1>

<p class=MsoNormal align=center style='text-align:center'><b>INFORME NEUROPSICOLÓGICO</b></p>

<p class=MsoNormal align=center style='text-align:center'><b>&nbsp;</b></p>

<p class=MsoNormal><b>Centro: </b>Asociación de Familiares de enfermos de Alzheimer y otras demencias Mijas.</p>

<p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>

<p class=MsoNormal style='background:white'><b>Fecha informe</b>: </p>

<p class=MsoNormal style='background:white'>&nbsp;</p>

<p class=MsoNormal style='background:white'><b>Datos personales</b></p>

<p class=MsoNormal style='background:white'><b>&nbsp;</b></p>

<p class=MsoNormal style='background:white'>Nombre y Apellidos: </p>

<p class=MsoNormal style='background:white'>Dirección: </p>

<p class=MsoNormal style='background:white'>Fecha Nacimiento:                 </p>

<p class=MsoNormal style='background:white'>Sexo: </p>

<p class=MsoNormal style='background:white'>Ocupación anterior: </p>

<p class=MsoNormal style='background:white'>Nivel escolarización: </p>

<p class=MsoNormal style='background:white'>Estado civil: </p>

<p class=MsoNormal style='background:white'>&nbsp;</p>

<p class=MsoNormal style='background:white'><b>Motivo de consulta:</b> </p>

<p class=MsoNormal style='background:white'><b>&nbsp;</b></p>

<p class=MsoNormal style='background:white'><b>Antecedentes personales y
evolución: </b></p>

<p class=MsoNormal style='background:white'>&nbsp;</p>

<p class=MsoNormal style='background:white'><b>Diagnóstico: </b></p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal><b>Evaluación:</b></p>

<p class=MsoNormal style='margin-left:36.0pt;text-indent:-18.0pt'><b>a)<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></b><b>Evaluación
Cognitiva:</b></p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal><b>CAMCOG</b>. Este es un test neuropsicológico conciso,
para la valoración del deterioro cognitivo en personas de edad avanzada. Se
evalúan todas las áreas de funciones cognitivas especificadas en criterios
diagnósticos operativos. Estas funciones cognitivas incluyen:</p>

<ul style='margin-top:0cm' type=disc>
 <li class=MsoNormal><b>Orientación en tiempo y espacio</b>: capacidad
     cognitiva que nos sirve para tener presentes los datos básicos de la
     realidad en la que vivimos. Es decir, nos permite mantener en nuestra
     memoria la información respecto del <u>momento</u> en el que vivimos y del<u>
     lugar</u> en el que nos encontramos.</li>
 <li class=MsoNormal><b>Lenguaje</b>: Mecanismo de expresión de los
     pensamientos y de la comunicación entre las personas.</li>
 <ul style='margin-top:0cm' type=circle>
  <li class=MsoNormal> Comprensión: El conocimiento del significado de las
      palabras.</li>
  <li class=MsoNormal>Expresión: Empleo de las palabras, en un sentido
      gramatical, con el objeto de expresar algún significado.</li>
 </ul>
</ul>

<ul style='margin-top:0cm' type=disc>
 <li class=MsoNormal><b>Atención</b>: Capacidad mental básica que sirve como
     mecanismo de activación y funcionamiento de otros procesos mentales más
     complejos como son la percepción, la memoria o el lenguaje. La atención
     está implicada en las operaciones de selección, distribución y
     mantenimientos de la actividad psicológica. Se trata de un sistema que, no
     solo dirige nuestros sentidos hacia un determinado estímulo, sino que
     controla la entrada de canales específicos y su transición a niveles más
     altos de integración.</li>
 <li class=MsoNormal><b>Cálculo</b>: Es la capacidad que tienen las personas
     para manejar los números –contar, realizar operaciones matemáticas simples
     o complejas, manejar medidas-. Esta capacidad nos ayuda a reconocer los
     números, las relaciones entre ellos y cómo se representan, tanto en letra
     como en símbolo.</li>
 <li class=MsoNormal><b>Praxis</b>: Concepto que define acciones y conductas
     manifiestas, o la realización de una acción voluntaria.</li>
 <li class=MsoNormal><b>Pensamiento abstracto</b>: Separar por medio de una
     operación intelectual las cualidades de un objeto para considerarlas el
     mismo objeto en su pura esencia o noción; enajenarse de los objetos
     sensibles, no atender a ellos por entregarse a la consideración de lo que
     se tiene en el pensamiento.</li>
 <li class=MsoNormal><b>Percepción</b>: Reconocimiento e interpretación
     consciente de los estímulos sensitivos mediante asociación inconsciente,
     especialmente la memoria.</li>
 <li class=MsoNormal style='background:white'><b>Memoria</b>: Es una de las
     capacidades más completas e importantes del sistema cognitivo humano, pues
     gracias  a ella podemos aprender, guardar, mantener y recuperar la
     información que obtenemos del entorno y de nuestras experiencias. Existen muchos
     tipos de memoria.</li>
</ul>

<p class=MsoNormal style='margin-left:78.0pt;text-indent:-18.0pt;background:
white'><span style='font-family:"Courier New"'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><b>Memoria remota</b>: permite guardar la información durante
años. Por ejemplo, recordar datos históricos.</p>

<p class=MsoNormal style='margin-left:78.0pt;text-indent:-18.0pt;background:
white'><span style='font-family:"Courier New"'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span><b>Memoria reciente</b>: permite guardar la información desde
unas horas hasta unos días después. Por ejemplo, acordarnos de lo que comimos
ayer.</p>

<p class=MsoNormal style='background:white'>En esta prueba podemos observar
cómo ------obtiene una puntuación muy baja, teniendo en cuenta el punto de
corte en 69/70, podemos decir que -----presenta deterioro cognitivo. </p>

<p class=MsoNormal style='background:white'>&nbsp;</p>

<p class=MsoNormal style='background:white'>&nbsp;</p>

<p class=MsoNormal style='margin-left:18.0pt;background:white'>Resumen
puntuaciones:</p>

<p class=MsoNormal style='background:white'>&nbsp;</p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
 style='margin-left:3.5pt;border-collapse:collapse;border:none'>
 <tr style='height:46.5pt'>
  <td width=120 valign=top style='width:90.0pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:46.5pt'>
  <p class=MsoNormal style='background:white'>Fecha:</p>
  </td>
  <td width=60 colspan=2 valign=top style='width:45.0pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:none;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:46.5pt'>
  <p class=MsoNormal style='margin-left:4.7pt;background:white'>Fecha</p>
  <p class=MsoNormal style='margin-left:4.7pt;background:white'>1 </p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:46.5pt'>
  <p class=MsoNormal style='background:white'>Fecha</p>
  <p class=MsoNormal style='background:white'>2</p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:46.5pt'>
  <p class=MsoNormal style='background:white'>Fecha</p>
  <p class=MsoNormal style='background:white'>3</p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:46.5pt'>
  <p class=MsoNormal style='background:white'>Fecha</p>
  <p class=MsoNormal style='background:white'>4</p>
  </td>
  <td width=84 valign=top style='width:63.0pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:46.5pt'>
  <p class=MsoNormal style='background:white'><span style='font-size:10.0pt'>Media
  puntuaciones edades 80-84 </span></p>
  </td>
  <td width=84 valign=top style='width:63.0pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:46.5pt'>
  <p class=MsoNormal style='background:white'><span style='font-size:10.0pt'>Media
  puntuaciones edades 85-89</span></p>
  </td>
  <td width=80 valign=top style='width:59.7pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:46.5pt'>
  <p class=MsoNormal style='background:white'><i><span style='font-size:10.0pt'>Puntuaciones
  </span></i></p>
  <p class=MsoNormal style='background:white'><i><span style='font-size:10.0pt'>máximas</span></i></p>
  </td>
 </tr>
 <tr style='height:16.0pt'>
  <td width=123 colspan=2 valign=top style='width:92.45pt;border-top:1.5pt;
  border-left:1.0pt;border-bottom:1.0pt;border-right:1.5pt;border-color:windowtext;
  border-style:solid;padding:0cm 3.5pt 0cm 3.5pt;height:16.0pt'>
  <p class=MsoNormal style='background:white'><b>CAMCOG</b></p>
  </td>
  <td width=57 valign=top style='width:42.55pt;border-top:solid windowtext 1.5pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:16.0pt'>
  <p class=MsoNormal style='background:white'>puntuación</p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:16.0pt'>
  <p class=MsoNormal style='background:white'>puntuación</p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:16.0pt'>
  <p class=MsoNormal style='background:white'>puntuación</p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:16.0pt'>
  <p class=MsoNormal style='background:white'>puntuación</p>
  </td>
  <td width=84 valign=top style='width:63.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:16.0pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=84 valign=top style='width:63.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:16.0pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=80 valign=top style='width:59.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:16.0pt'>
  <p class=MsoNormal style='background:white'><i>&nbsp;</i></p>
  </td>
 </tr>
 <tr style='height:15.95pt'>
  <td width=123 colspan=2 valign=top style='width:92.45pt;border-top:none;
  border-left:solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;
  border-right:solid windowtext 1.5pt;padding:0cm 3.5pt 0cm 3.5pt;height:15.95pt'>
  <p class=MsoNormal style='background:white'><i>Orientación:</i></p>
  </td>
  <td width=57 valign=top style='width:42.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:15.95pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:15.95pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:15.95pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:15.95pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=84 valign=top style='width:63.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:15.95pt'>
  <p class=MsoNormal style='background:white'>9,3</p>
  </td>
  <td width=84 valign=top style='width:63.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:15.95pt'>
  <p class=MsoNormal style='background:white'>8,8</p>
  </td>
  <td width=80 valign=top style='width:59.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:15.95pt'>
  <p class=MsoNormal style='background:white'><i>10</i></p>
  </td>
 </tr>
 <tr style='height:12.0pt'>
  <td width=123 colspan=2 valign=top style='width:92.45pt;border-top:none;
  border-left:solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;
  border-right:solid windowtext 1.5pt;padding:0cm 3.5pt 0cm 3.5pt;height:12.0pt'>
  <p class=MsoNormal style='background:white'><i>Lenguaje:</i></p>
  </td>
  <td width=57 valign=top style='width:42.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:12.0pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:12.0pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:12.0pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:12.0pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=84 valign=top style='width:63.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:12.0pt'>
  <p class=MsoNormal style='background:white'>25,02</p>
  </td>
  <td width=84 valign=top style='width:63.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:12.0pt'>
  <p class=MsoNormal style='background:white'>23,5</p>
  </td>
  <td width=80 valign=top style='width:59.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:12.0pt'>
  <p class=MsoNormal style='background:white'><i>30</i></p>
  </td>
 </tr>
 <tr style='height:7.25pt'>
  <td width=123 colspan=2 valign=top style='width:92.45pt;border-top:none;
  border-left:solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;
  border-right:solid windowtext 1.5pt;padding:0cm 3.5pt 0cm 3.5pt;height:7.25pt'>
  <p class=MsoNormal style='background:white'><i>Memoria:</i></p>
  </td>
  <td width=57 valign=top style='width:42.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:7.25pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:7.25pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:7.25pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:7.25pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=84 valign=top style='width:63.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:7.25pt'>
  <p class=MsoNormal style='background:white'>21,0</p>
  </td>
  <td width=84 valign=top style='width:63.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:7.25pt'>
  <p class=MsoNormal style='background:white'>18,9</p>
  </td>
  <td width=80 valign=top style='width:59.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:7.25pt'>
  <p class=MsoNormal style='background:white'><i>27</i></p>
  </td>
 </tr>
 <tr style='height:8.25pt'>
  <td width=123 colspan=2 valign=top style='width:92.45pt;border-top:none;
  border-left:solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;
  border-right:solid windowtext 1.5pt;padding:0cm 3.5pt 0cm 3.5pt;height:8.25pt'>
  <p class=MsoNormal style='background:white'><i>Atención/cálculo:</i></p>
  </td>
  <td width=57 valign=top style='width:42.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:8.25pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:8.25pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:8.25pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:8.25pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=84 valign=top style='width:63.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:8.25pt'>
  <p class=MsoNormal style='background:white'>5,1</p>
  </td>
  <td width=84 valign=top style='width:63.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:8.25pt'>
  <p class=MsoNormal style='background:white'>4,7</p>
  </td>
  <td width=80 valign=top style='width:59.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:8.25pt'>
  <p class=MsoNormal style='background:white'><i>9</i></p>
  </td>
 </tr>
 <tr style='height:14.55pt'>
  <td width=123 colspan=2 valign=top style='width:92.45pt;border-top:none;
  border-left:solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;
  border-right:solid windowtext 1.5pt;padding:0cm 3.5pt 0cm 3.5pt;height:14.55pt'>
  <p class=MsoNormal style='background:white'><i>Praxis:</i></p>
  </td>
  <td width=57 valign=top style='width:42.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:14.55pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:14.55pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:14.55pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:14.55pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=84 valign=top style='width:63.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:14.55pt'>
  <p class=MsoNormal style='background:white'>10,3</p>
  </td>
  <td width=84 valign=top style='width:63.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:14.55pt'>
  <p class=MsoNormal style='background:white'>9,3</p>
  </td>
  <td width=80 valign=top style='width:59.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:14.55pt'>
  <p class=MsoNormal style='background:white'><i>12</i></p>
  </td>
 </tr>
 <tr style='height:9.55pt'>
  <td width=123 colspan=2 valign=top style='width:92.45pt;border-top:none;
  border-left:solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;
  border-right:solid windowtext 1.5pt;padding:0cm 3.5pt 0cm 3.5pt;height:9.55pt'>
  <p class=MsoNormal style='background:white'><i>Pens. Abstracto:</i></p>
  </td>
  <td width=57 valign=top style='width:42.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:9.55pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:9.55pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:9.55pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:9.55pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=84 valign=top style='width:63.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:9.55pt'>
  <p class=MsoNormal style='background:white'>5,2</p>
  </td>
  <td width=84 valign=top style='width:63.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:9.55pt'>
  <p class=MsoNormal style='background:white'>1,7</p>
  </td>
  <td width=80 valign=top style='width:59.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:9.55pt'>
  <p class=MsoNormal style='background:white'><i>8</i></p>
  </td>
 </tr>
 <tr style='height:12.8pt'>
  <td width=123 colspan=2 valign=top style='width:92.45pt;border-top:none;
  border-left:solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;
  border-right:solid windowtext 1.5pt;padding:0cm 3.5pt 0cm 3.5pt;height:12.8pt'>
  <p class=MsoNormal style='background:white'><i>Percepción:</i></p>
  </td>
  <td width=57 valign=top style='width:42.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:12.8pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:12.8pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:12.8pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:12.8pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=84 valign=top style='width:63.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:12.8pt'>
  <p class=MsoNormal style='background:white'>8,1</p>
  </td>
  <td width=84 valign=top style='width:63.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:12.8pt'>
  <p class=MsoNormal style='background:white'>4,4</p>
  </td>
  <td width=80 valign=top style='width:59.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:12.8pt'>
  <p class=MsoNormal style='background:white'><i>8</i></p>
  </td>
 </tr>
 <tr style='height:20.65pt'>
  <td width=123 colspan=2 valign=top style='width:92.45pt;border-top:none;
  border-left:solid windowtext 1.0pt;border-bottom:solid windowtext 1.5pt;
  border-right:solid windowtext 1.5pt;padding:0cm 3.5pt 0cm 3.5pt;height:20.65pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  <p class=MsoNormal style='background:white'>Total:</p>
  </td>
  <td width=57 valign=top style='width:42.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:20.65pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:20.65pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:20.65pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:20.65pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=84 valign=top style='width:63.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:20.65pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=84 valign=top style='width:63.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:20.65pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=80 valign=top style='width:59.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:20.65pt'>
  <p class=MsoNormal style='background:white'><i>&nbsp;</i></p>
  <p class=MsoNormal style='background:white'><i>&nbsp;</i></p>
  </td>
 </tr>
 <tr height=0>
  <td width=120 style='border:none'></td>
  <td width=3 style='border:none'></td>
  <td width=81 style='border:none'></td>
  <td width=81 style='border:none'></td>
  <td width=81 style='border:none'></td>
  <td width=81 style='border:none'></td>
  <td width=84 style='border:none'></td>
  <td width=84 style='border:none'></td>
  <td width=82 style='border:none'></td>
 </tr>
</table>

<p class=MsoNormal style='background:white'>&nbsp;</p>

<p class=MsoNormal style='background:white'>En esta prueba también se incluye
el<b> Mini Mental State Examination (MMSE) de Folstein y otros (1975).</b> Éste
es un test breve diseñado para la detección de casos de deterioro cognitivo. El
paciente debe contestar un total de 30 cuestiones que exploran las siguientes
áreas cognitivas: </p>

<ul style='margin-top:0cm' type=disc>
 <li class=MsoNormal style='background:white'>Orientación temporal y espacial.</li>
 <li class=MsoNormal style='background:white'>Memoria inmediata.</li>
 <li class=MsoNormal style='background:white'>Concentración y cálculo.</li>
 <li class=MsoNormal style='background:white'>Memoria diferida.</li>
 <li class=MsoNormal style='background:white'>Lenguaje y praxis.</li>
</ul>

<p class=MsoNormal style='background:white'>La puntuación total oscila entre 0
y 30 puntos.</p>

<p class=MsoNormal style='background:white'>El punto de corte se establece para
los ancianos de 1 a 25 posibles dementes, de 22 a 29 normales, de 14 a 30
posibles deprimidos.</p>

<p class=MsoNormal style='background:white'> </p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
 style='margin-left:3.5pt;border-collapse:collapse;border:none'>
 <tr style='height:22.5pt'>
  <td width=120 valign=top style='width:90.0pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.5pt'>
  <p class=MsoNormal style='background:white'>Fecha:</p>
  </td>
  <td width=52 colspan=2 valign=top style='width:39.05pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:none;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.5pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=46 valign=top style='width:34.35pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.5pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=46 valign=top style='width:34.5pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.5pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=48 valign=top style='width:36.1pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.5pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=96 valign=top style='width:72.35pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.5pt'>
  <p class=MsoNormal style='background:white'><i>Puntuaciones </i></p>
  <p class=MsoNormal style='background:white'><i>máximas</i></p>
  </td>
 </tr>
 <tr style='height:25.5pt'>
  <td width=123 colspan=2 valign=top style='width:92.45pt;border-top:1.5pt;
  border-left:1.0pt;border-bottom:1.0pt;border-right:1.5pt;border-color:windowtext;
  border-style:solid;padding:0cm 3.5pt 0cm 3.5pt;height:25.5pt'>
  <p class=MsoNormal style='background:white'><b>MMSE</b></p>
  </td>
  <td width=49 valign=top style='width:36.6pt;border-top:solid windowtext 1.5pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:25.5pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=46 valign=top style='width:34.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:25.5pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=46 valign=top style='width:34.5pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:25.5pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=48 valign=top style='width:36.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:25.5pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=96 valign=top style='width:72.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:25.5pt'>
  <p class=MsoNormal style='background:white'><i>30</i></p>
  </td>
 </tr>
 <tr height=0>
  <td width=120 style='border:none'></td>
  <td width=3 style='border:none'></td>
  <td width=49 style='border:none'></td>
  <td width=46 style='border:none'></td>
  <td width=46 style='border:none'></td>
  <td width=48 style='border:none'></td>
  <td width=97 style='border:none'></td>
 </tr>
</table>

<p class=MsoNormal style='background:white'>&nbsp;</p>

<p class=MsoNormal style='background:white'>Texto redactable</p>

<p class=MsoNormal style='background:white'>&nbsp;</p>

<p class=MsoNormal style='background:white'>b) <b>Evaluación Funcional:</b></p>

<p class=MsoNormal style='background:white'>&nbsp;</p>

<p class=MsoNormal style='background:white'>&nbsp;</p>

<p class=MsoNormal style='background:white'>Las <b>actividades de la vida
diaria</b> son todas las actividades que una persona lleva a cabo diariamente
desde que se levanta hasta que se acuesta, incluyendo estas dos últimas.</p>

<p class=MsoNormal style='background:white'>Estas actividades las dividimos en:</p>

<ul style='margin-top:0cm' type=circle>
 <li class=MsoNormal style='background:white'><b>Actividades básicas</b>, como
     son el cuidado personal (alimentarse, vestirse, bañarse, mantener la
     higiene al ir al baño, etc.) éstas las medimos a  través del<b> Índice de
     Barthel</b>, la puntuación máxima es de 100, a mayor puntuación mayor
     independencia para realizar estas actividades. </li>
 <li class=MsoNormal style='background:white'><b>Actividades instrumentales, c</b>omo
     son el cuidado del hogar(cocinar, organizar la casa, comprar, lavar, etc.)
     y otras tareas (controlar la medicación, manejar el dinero, salir a
     excursiones, trabajar, etc.), las evaluamos con la<b>  Escala de Lawton y
     Brody, </b>la puntuación máxima es de 10, a menor puntuación mayor
     dependencia, (estamos a la espera de entrevistar al familiar)</li>
</ul>

<p class=MsoNormal style='background:white'>&nbsp;</p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
 style='margin-left:3.5pt;border-collapse:collapse;border:none'>
 <tr style='height:17.25pt'>
  <td width=123 valign=top style='width:92.45pt;border-top:1.5pt;border-left:
  1.0pt;border-bottom:1.0pt;border-right:1.5pt;border-color:windowtext;
  border-style:solid;padding:0cm 3.5pt 0cm 3.5pt;height:17.25pt'>
  <p class=MsoNormal style='background:white'>Fecha</p>
  </td>
  <td width=57 valign=top style='width:42.55pt;border-top:solid windowtext 1.5pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:17.25pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=60 valign=top style='width:45.0pt;border-top:solid windowtext 1.5pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:17.25pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=235 valign=top style='width:176.35pt;border-top:solid windowtext 1.5pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:17.25pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=96 valign=top style='width:72.35pt;border-top:solid windowtext 1.5pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:17.25pt'>
  <p class=MsoNormal style='background:white'><i>Puntuaciones máximas</i></p>
  <p class=MsoNormal style='background:white'><i>&nbsp;</i></p>
  </td>
 </tr>
 <tr style='height:37.5pt'>
  <td width=123 valign=top style='width:92.45pt;border-top:none;border-left:
  solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
  solid windowtext 1.5pt;padding:0cm 3.5pt 0cm 3.5pt;height:37.5pt'>
  <p class=MsoNormal style='background:white'><b>Índice de Barthel</b></p>
  </td>
  <td width=57 valign=top style='width:42.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.5pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=60 valign=top style='width:45.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.5pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=235 valign=top style='width:176.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.5pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=96 valign=top style='width:72.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.5pt'>
  <p class=MsoNormal style='background:white'><i>100</i></p>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=123 valign=top style='width:92.45pt;border-top:none;border-left:
  solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
  solid windowtext 1.5pt;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoNormal style='background:white'><b>Escalas de Lawton y Brody</b></p>
  </td>
  <td width=57 valign=top style='width:42.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=60 valign=top style='width:45.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=235 valign=top style='width:176.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  <p class=MsoNormal style='background:white'>&nbsp;</p>
  </td>
  <td width=96 valign=top style='width:72.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoNormal style='background:white'><i>&nbsp;</i></p>
  <p class=MsoNormal style='background:white'><i>10</i></p>
  </td>
 </tr>
</table>

<p class=MsoNormal style='background:white'>&nbsp;</p>

<p class=MsoNormal style='margin-left:18.0pt;background:white'>&nbsp;</p>

<p class=MsoNormal style='background:white'>&nbsp;</p>

<p class=MsoNormal style='background:white'><b>c) Evaluación Conductual</b></p>

<p class=MsoNormal style='background:white'>Para esta última evaluación se
utilizó el<b> Inventario Neuropsiquiatrico (NPI)</b> a través del familiar, éste
es un instrumento que revela alteraciones de conducta, en ella apreciamos
posibles problemas </p>

<p class=MsoNormal style='background:white'>Falta información. (rellenable)</p>

<p class=MsoNormal style='background:white'>&nbsp;</p>

<p class=MsoNormal style='background:white'><b>Conclusión:</b></p>

<p class=MsoNormal style='background:white'>&nbsp;</p>

<p class=MsoNormal style='background:white'>rellenable</p>

<p class=MsoNormal style='background:white'>&nbsp;</p>

<p class=MsoNormal style='background:white'>&nbsp;</p>

<p class=MsoNormal style='background:white'>&nbsp;</p>

<p class=MsoNormal style='background:white'>&nbsp;</p>

<p class=MsoNormal align=right style='text-align:right;background:white'>Informe
realizado por: </p>

<p class=MsoNormal align=right style='text-align:right;background:white'>MªCarmen
López Gutiérrez. Psicóloga Col. Nº AO 05101</p>

<p class=MsoNormal align=right style='text-align:right'>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal align=center style='text-align:center'><b>&nbsp;</b></p>

<p class=MsoNormal align=center style='text-align:center'><b>&nbsp;</b></p>

<p class=MsoNormal>&nbsp;</p>

</div>

</body>

</html>
