<nb-layout>
    <nb-layout-header fixed>
    <!-- Insert header here -->
      <app-header></app-header>
    </nb-layout-header>
  
    <nb-sidebar id="mySidebar" class="menu-sidebar" tag="menu-sidebar" responsive>
        <nb-menu [items]="menu"></nb-menu> 
    </nb-sidebar>
  
    <nb-layout-column>
      <router-outlet></router-outlet>
    </nb-layout-column>
  
    <nb-layout-footer fixed> 
      <div class="footer" style="margin-top: 1em">
        <div class="col-xl-3 col-md-3 col-sm-3" style="text-align: center; margin-bottom: auto; margin-top: auto"><!--footer left--></div> 
        <div class="col-xl-6 col-md-6 col-sm-6 footerCenter" style="text-align: center;">AFA Mijas - Asociación de familiares de enfermos de Alzheimer de Mijas<br/><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;<a style="text-decoration: none" href="tel:952590810">952 59 08 10</a> - <a style="text-decoration: none"href="tel:661867951">661 86 79 51</a></div>
        <div class="col-xl-3 col-md-3 col-sm-3" style="text-align: center; margin-bottom: auto; margin-top: auto"><!--footer right--></div>
      </div>
    </nb-layout-footer>
  </nb-layout> 