<nb-card>
    <nb-card-header>
        <div class="row float-start" >
            <h4>Listado de socios</h4>
        </div>
        <button nbButton class="float-end" status="primary" (click)="openSaveMemberModal(true)">ALTA DE SOCIO</button>
        
    </nb-card-header>
    <nb-card-body>


        <input class="form-control" type="number" [(ngModel)]="membernumber" name="status" placeholder="Número del socio" />

        <br/>
        <input class="form-control" type="text" [(ngModel)]="name_surnames" name="name_surnames" placeholder="Nombre / apellidos" />

        <br/>
        <input class="form-control" type="text" [(ngModel)]="documentid" name="documentid"  placeholder="DNI / documento de identidad" />

        <br/>
        <ng-select (change)="getMembers()" [multiple]="false" [(ngModel)]="status" name="status" [clearable]="false">
            <ng-option value="A">SOCIOS ACTIVOS</ng-option>
            <ng-option value="D">SOCIOS DADOS DE BAJA</ng-option>
        </ng-select>

        <hr/>

        <app-custom-table
            [actions]="actions"
            [keys]="['Nº Socio', 'Nombre', 'DNI', 'Email', 'Teléfono']"
            [values]="members"
            [align]="['left', 'left', 'left', 'left', 'left']"
            [filters]="[false, false, false, false, false]"
            [sort]="[false, false, false, false, false]"
            [widthToCollapse]="750"
            [withPagination]="true"
            [totalPages]="totalPages"
            [page]="page"
            [size]="size"
            [loadingE]="loadingExcel"
            [loading]="loadingPDF"
            [hasExport]="true"
            (actionSelected)="action($event)"
            (changePage)="setPage($event)"
            (filterEvent)="filter(0)"
            [isProcessing]="isProcessing"
            (exportData)="getExportData($event)"
            [showSearchButton]="true"

        >

        </app-custom-table>
    </nb-card-body>

</nb-card>




<ng-template #modalContent let-close="close">
    <div class="modal-header"> 
        <h6 *ngIf="theMember.id!=''" >Modificar datos para socio {{theMember.membernumber}} - {{theMember.fullname}}</h6>
        <h6 *ngIf="theMember.id==''" >Alta de nuevo socio</h6>
        <nb-icon (click)="close()" class="sidebar-toggle" icon="close-circle-outline" title="Cerrar"></nb-icon>
    </div>

    <div  class="modal-body">
        <div>

            <div id="step1">
            Nombre: 
            <input style="margin-bottom: 15px" class="form-control" [(ngModel)]="theMember.name" name="theMember-name" type="text" >


            Primer apellido: 
            <input style="margin-bottom: 15px" class="form-control" [(ngModel)]="theMember.surname1" name="theMember-surname1" type="text" >


            Segundo apellido: 
            <input style="margin-bottom: 15px" class="form-control" [(ngModel)]="theMember.surname2" name="theMember-surname2" type="text" >
     

            Email: 
            <input style="margin-bottom: 15px" class="form-control" [(ngModel)]="theMember.email" name="theMember-email" type="text" >
 

            Teléfono: 
            <input style="margin-bottom: 15px" class="form-control" [(ngModel)]="theMember.phone" name="theMember-phone" type="text" >
    

            Tipo de documento de identidad: 
            <ng-select [searchable]="false" [multiple]="false" [(ngModel)]="theMember.documenttype" name="theMember-documenttype" [clearable]="false">
                <ng-option value="DNI">DNI</ng-option>
                <ng-option value="PASAPORTE">PASAPORTE</ng-option>
                <ng-option value="NIE">NIE</ng-option>
            </ng-select>
            <br/>

            Documento de identidad: 
            <input style="margin-bottom: 15px" class="form-control" [(ngModel)]="theMember.documentid" name="theMember-documentid" type="text" >

            <div style="width: 100%; text-align: right;">
            <button [disabled]="theMember.name=='' || theMember.surname1=='' || !validEmail(theMember.email) || !validPhone(theMember.phone) || !validDocumentId(theMember.documentid, theMember.documenttype)" nbButton status="accent" type="button" class="btn btn-outline-secondary" (click)="goStep('step2');">
                SIGUIENTE &gt;&gt;
            </button>
            </div>


            </div><div style="display: none;" id="step2">

            País: 
            <ng-select [searchable]="false" [multiple]="false" [(ngModel)]="theMember.idcountry" name="theMember-idcountry" (change)="getStates()" [clearable]="false">
                <ng-option *ngFor="let x of theCountries" [value]="x.id">{{x.emoji}} - {{x.name}}</ng-option>
            </ng-select>
            <br/>


            Código postal: 
            <input style="margin-bottom: 15px" class="form-control" [(ngModel)]="theMember.postalcode" (change)="getStateAndCitiesByPostalCodeAndCountryId()" name="theMember-postalcode" type="text" >
         

            Provincia: 
            <ng-select [searchable]="false" [multiple]="false" [(ngModel)]="theMember.idstate" name="theMember-idstate" (change)="theMember.postalcode=''; getCities()" [clearable]="false">
                <ng-option *ngFor="let x of theStates" [value]="x.id">{{x.name}}</ng-option>
            </ng-select>
            <br/>


            Localidad: 
            <ng-select [searchable]="false" [multiple]="false" [(ngModel)]="theMember.idcity" name="theMember-idcity" [clearable]="false">
                <ng-option *ngFor="let x of theCities" [value]="x.id">{{x.name}}</ng-option>
            </ng-select>
            <br/>




            Dirección postal: 
            <input style="margin-bottom: 15px" class="form-control" [(ngModel)]="theMember.postaladdress" name="theMember-postaladdress" type="text" >
 

            <div style="margin-top:30px; width: 100%; text-align: right;">
                <button  nbButton status="accent" type="button" class="btn btn-outline-secondary" (click)="goStep('step1');">
                    &lt;&lt; ANTERIOR
                </button>
                &nbsp;&nbsp;
                <button [disabled]="!validPostalAddress(theMember)" nbButton status="accent" type="button" class="btn btn-outline-secondary" (click)="goStep('step3');">
                    SIGUIENTE &gt;&gt;
                </button>
            </div>


        </div><div style="display: none;" id="step3">

            
            Cuota en euros: 
            <input style="margin-bottom: 15px" class="form-control" [(ngModel)]="theMember.fee_euros" name="theMember-fee_euros" type="number" >
       
            

            Periodicidad cuota: 
            <input style="margin-bottom: 15px" class="form-control" [(ngModel)]="theMember.fee_period" name="theMember-fee_period" type="text" >
     
            
            Forma de pago: 
            <ng-select [searchable]="false" [multiple]="false" [(ngModel)]="theMember.fee_payment" name="theMember-fee_payment" [clearable]="false">
                <ng-option value="SEDE">EN SEDE</ng-option>
                <ng-option value="DOMICILIACIÓN">DOMICILIACIÓN BANCARIA</ng-option>
            </ng-select>


            <div *ngIf="theMember.fee_payment=='DOMICILIACIÓN'">
                <hr/>
                
                Banco: 
                <input style="margin-bottom: 15px" class="form-control" [(ngModel)]="theMember.bank_name" name="theMember-bank_name" type="text" >
                        
                Nombre y apellidos del titular de la cuenta: 
                <input style="margin-bottom: 15px" class="form-control" [(ngModel)]="theMember.bank_account_holder_fullname" name="theMember-bank_account_holder_fullname" type="text" >
        
                
                DNI del titular de la cuenta: 
                <input style="margin-bottom: 15px" class="form-control" [(ngModel)]="theMember.bank_account_holder_dni" name="theMember-bank_account_holder_dni" type="text" >
            
                
                IBAN Cuenta bancaria: 
                <input style="margin-bottom: 15px" class="form-control" [(ngModel)]="theMember.bank_account_iban" name="theMember-bank_account_iban" type="text" >
            </div>


            <div style="margin-top:30px; width: 100%; text-align: right;">
                <button  nbButton status="accent" type="button" class="btn btn-outline-secondary" (click)="goStep('step2');">
                    &lt;&lt; ANTERIOR
                </button>
                &nbsp;&nbsp;
                <button  [disabled]="!validFee(theMember)" nbButton status="accent" type="button" class="btn btn-outline-secondary" (click)="goStep('step4');">
                    SIGUIENTE &gt;&gt;
                </button>
            </div>

            
        </div><div style="display: none;" id="step4">

            Documento de alta:
           
            <ng-select style="margin-top: 10px;" [searchable]="false" [multiple]="false" [(ngModel)]="is_document_signed" name="is_document_signed" [clearable]="false">
                <ng-option value="SIN_FIRMA">Voy a aportar el documento SIN FIRMAR por el socio</ng-option>
                <ng-option value="FIRMADO">Voy a aportar el documento FIRMADO por el socio</ng-option>
            </ng-select>


            <div  matTooltip="Seleccionar documento de alta" class="file-upload">
                <button mat-mini-fab color="primary" class="form-control upload-btn" (click)="fileUpload.click()"><i class="fa-solid fa-paperclip"></i>&nbsp;Seleccione documento a subir</button>
                <input style="display:none" type="file" class="file-input" [accept]="requiredFileType" (change)="onFileSelected($event, 'ALTA')" #fileUpload>
                &nbsp;&nbsp;<i  (click)="cancelUpload()" *ngIf="uploadProgress" class="fa-solid fa-paperclip"></i>
            </div>       



            <div *ngIf="theMember.register_document_url && theMember.register_document_url!='' && !(theMember.register_document_url_signed && theMember.register_document_url_signed!='') " matTooltip="Documento de alta" class="file-upload">
                <a class="form-control" target="_blank" href="{{theMember.register_document_url}}"><i class="fa-solid fa-paperclip"></i> Documento subido previamente (sin firmar)</a>
                <button  nbButton status="accent" type="button" class="btn btn-outline-secondary" (click)="openDocumentRegister();">
                    FIRMAR DOCUMENTO
                </button>
                <br/>
            </div>       


            <div *ngIf="theMember.register_document_url_signed && theMember.register_document_url_signed!=''" matTooltip="Documento de alta" class="file-upload">
                <a class="form-control" target="_blank" href="{{theMember.register_document_url_signed}}"><i class="fa-solid fa-paperclip"></i> Documento subido previamente (firmado por socio)</a>
                <br/>
            </div>     
            
            <div style="margin-top:30px; width: 100%; text-align: right;">
                <button  nbButton status="accent" type="button" class="btn btn-outline-secondary" (click)="goStep('step3');">
                    &lt;&lt; ANTERIOR
                </button>
            </div>


            </div><!--step4-->
            
        </div>
    </div>

    <div class="modal-footer">
        <button [disabled]="isProcessing 
        || theMember.name=='' || theMember.surname1=='' || !validEmail(theMember.email) || !validPhone(theMember.phone) || !validDocumentId(theMember.documentid, theMember.documenttype)
        || !validPostalAddress(theMember)
        || !validFee(theMember)
        || !validDoc(theMember)
        " 
        nbButton status="primary" type="button" class="btn btn-outline-secondary" (click)="saveMember();">
            GUARDAR CAMBIOS
        </button>
    </div>
</ng-template>
  



<ng-template #modalUnregister let-close="close">
    <div class="modal-header"> 
        <h6>Confirmar baja para el socio {{theMember.membernumber}} - {{theMember.fullname}}</h6>
        <nb-icon (click)="close()" class="sidebar-toggle" icon="close-circle-outline" title="Cerrar"></nb-icon>
    </div>

    <div  class="modal-body">
        <div>

            Razón de la baja: 
            <textarea class="form-control" [(ngModel)]="theMember.unregister_reason" >
            </textarea>
            <br/>

            Documento de baja:
           
            <ng-select style="margin-top: 10px;" [searchable]="false" [multiple]="false" [(ngModel)]="is_document_signed" name="is_document_signed" [clearable]="false">
                <ng-option value="SIN_FIRMA">Voy a aportar el documento SIN FIRMAR por el socio</ng-option>
                <ng-option value="FIRMADO">Voy a aportar el documento FIRMADO por el socio</ng-option>
            </ng-select>


            <div  matTooltip="Seleccionar documento de baja" class="file-upload">
                <button mat-mini-fab color="primary" class="form-control upload-btn" (click)="fileUpload.click()"><i class="fa-solid fa-paperclip"></i>&nbsp;Seleccione documento a subir</button>
                <input style="display:none" type="file" class="file-input" [accept]="requiredFileType" (change)="onFileSelected($event, 'BAJA')" #fileUpload>
                &nbsp;&nbsp;<i  (click)="cancelUpload()" *ngIf="uploadProgress" class="fa-solid fa-paperclip"></i>
            </div>       



            <div *ngIf="theMember.unregister_document_url && theMember.unregister_document_url!=''  " matTooltip="Documento de baja" class="file-upload">
                <a class="form-control" target="_blank" href="{{theMember.unregister_document_url}}"><i class="fa-solid fa-paperclip"></i> Documento subido previamente (sin firmar)</a>
                <!--button  nbButton status="accent" type="button" class="btn btn-outline-secondary" (click)="openDocumentUnRegister();">
                    FIRMAR DOCUMENTO
                </button-->

                <br/>
            </div>       


            <div *ngIf="theMember.unregister_document_url_signed && theMember.unregister_document_url_signed!=''" matTooltip="Documento de baja" class="file-upload">
                <a class="form-control" target="_blank" href="{{theMember.unregister_document_url_signed}}"><i class="fa-solid fa-paperclip"></i> Documento subido previamente (firmado por socio)</a>
                <br/>
            </div>       
            
                


        </div>
    </div>

    <div class="modal-footer">
        <button  *ngIf="theMember.unregister_document_url_signed && theMember.unregister_document_url_signed!=''" [disabled]="isProcessing"  nbButton status="primary" type="button" class="btn btn-outline-secondary" (click)="unregisterMember();">
            <span  *ngIf="theMember.status=='A'">DAR DE BAJA AL SOCIO</span>
            <span *ngIf="theMember.status=='D'">ACTUALIZAR BAJA AL SOCIO</span>
        </button>
    </div>
</ng-template>
  


