nb-card { height: 100%;}

input { margin-bottom: 5px; }

.routestop_hour { margin-top:5px; list-style-type:none; font-size:20px; font-weight:bold;}
.routestop_name { list-style-type:none; font-size:16px; }
.routestop_postaladdress { list-style-type:none;  font-size:14px; }

ng::deep .modal-body { height: 100%;}