

::ng-deep .nb-theme-default .toastr-overlay-container { z-index: 9999999999999999 !important;}

::ng-deep .nb-theme-default .cdk-overlay-container  { z-index: 9999999999999999 !important;}


.file-upload  {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .form-control { margin-bottom: 0 !important; }

  ::ng-deep   .form-control { margin-bottom: 0 !important; }


