<nb-card>
    <nb-card-header>
        <div class="row float-start" >
            <h4>PAI Fisioterapia</h4>
        </div>
        <!--button [disabled]="theIdpatient==''" [hidden]="!canModify()" nbButton class="float-end" status="primary" (click)="openPAIFisio(true)">Completar PAI</button-->
        
    </nb-card-header>
    <nb-card-body>

            <div style="margin-bottom: 10px;">
                Para el usuario:
                <ng-select (change)="getPatients(0)" [multiple]="false" [(ngModel)]="theIdpatient" name="idpatient" [clearable]="false" notFoundText="No se encuentran usuarios">
                    <ng-option value="">TODOS</ng-option>
                    <ng-option *ngFor="let u of allPatients" [value]="u.id">{{u.name}} {{u.surname1}} {{u.surname2}} - ({{u.membernumber}})</ng-option>
                </ng-select>
            </div>

        <hr/>
 
        <app-custom-table
            [actions]="actions"
            [keys]="['Nombre', 'DNI', 'Familiar/Cuidador principal', 'Tipo de servicio']"
            [values]="patients"
            [align]="['left', 'left', 'left', 'left']"
            [filters]="[false, false, false, false]"
            [sort]="[false, false, false, false]"
            [widthToCollapse]="750"
            [withPagination]="true"
            [totalPages]="totalPages"
            [page]="page"
            [size]="size"
            [loadingE]="loadingExcel"
            [loading]="loadingPDF"
            [hasExport]="true"
            (actionSelected)="action($event)"
            (changePage)="setPage($event)"
            (filterEvent)="filter(0)"
            [isProcessing]="isProcessing"
            (exportData)="getExportData($event)"
            [showSearchButton]="true"

        >

        </app-custom-table>
    </nb-card-body>

</nb-card>



<ng-template #modalContent1 let-close="close">
    <div class="modal-header"> 
        <h6>PAI</h6>
        <p>{{thePatient.documentid}} - {{thePatient.name}} {{thePatient.surname1}} {{thePatient.surname2}}</p>
        <p>Nº expediente: {{thePatient.fs_num_expediente}}</p>
        <nb-icon (click)="closeModal();close();" class="sidebar-toggle" icon="close-circle-outline" title="Cerrar"></nb-icon>
    </div>

    <div  class="modal-body">
        <div>



            <div id="step1">

            
            
            <b>Fecha de valoración:</b><br/>

                <div style="margin-top:10px">
                    Fecha de informe: 
                    <input class="form-control" mwlFlatpickr [(ngModel)]="thePatient.pai_fisio_fecha_valoracion" name="thePatient-pai_fisio_fecha_valoracion" type="text" [altInput]="true"
                    [convertModelValue]="true"
                    [enableTime]="false"
                    dateFormat="YY-m-d"
                    altFormat="d/m/Y"
                    placeholder=""
                    [disable]="[disabledDay2]"
                    >
                </div>
    

            <br/>
            <b>Estado de salud:</b><br/>

            ¿Qué problemas de salud presenta (patologías y alteraciones de los diferentes sistemas)? 
            <div style="margin-top:10px">
                 <textarea class="form-control" [(ngModel)]="thePatient.pai_fisio_prob_salud" >
                 </textarea>
            </div>
            
            ¿Qué dolores presenta o puede presentar?
            <div style="margin-top:10px">
                 <textarea class="form-control" [(ngModel)]="thePatient.pai_fisio_dolres" >
                 </textarea>
            </div>
            
            ¿Cómo duerme?
            <div style="margin-top:10px">
                 <textarea class="form-control" [(ngModel)]="thePatient.pai_fisio_duerme" >
                 </textarea>
            </div>
            
            ¿Tiene necesidades especiales de alimentación?
            <div style="margin-top:10px">
                 <textarea class="form-control" [(ngModel)]="thePatient.pai_fisio_nec_aliment" >
                 </textarea>
            </div>
            
            ¿Tiene hábitos saludables?
            <div style="margin-top:10px">
                 <textarea class="form-control" [(ngModel)]="thePatient.pai_fisio_hab_saludables" >
                 </textarea>
            </div>
            


            <div style="margin-top:30px; width: 100%; text-align: right;"> 
                <button  nbButton status="accent" type="button" class="btn btn-outline-secondary" (click)="goStep('step2');">
                    SIGUIENTE &gt;&gt;
                </button>
            </div>
            
        </div>
        
        
        <div style="display: none;" id="step2">


            
            <b>Atención sanitaria:</b><br/>

            ¿Qué atención preventiva y/o especializada requiere?
            <div style="margin-top:10px">
                 <textarea class="form-control" [(ngModel)]="thePatient.pai_fisio_atencion_preven" >
                 </textarea>
            </div>
            
            ¿Tiene acceso a esta atención?
            <div style="margin-top:10px">
                 <textarea class="form-control" [(ngModel)]="thePatient.pai_fisio_acceso_atencion" >
                 </textarea>
            </div>
            
            ¿Qué medicación requiere y como afecta a sus capacidades/habilidades?
            <div style="margin-top:10px">
                 <textarea class="form-control" [(ngModel)]="thePatient.pai_fisio_medicacion_requerida" >
                 </textarea>
            </div>
            
            ¿Alergia conocida?
            <div style="margin-top:10px">
                 <textarea class="form-control" [(ngModel)]="thePatient.pai_fisio_alergias" >
                 </textarea>
            </div>
            
            ¿Tiene UPP o riesgo?
            <div style="margin-top:10px">
                 <textarea class="form-control" [(ngModel)]="thePatient.pai_fisio_upp" >
                 </textarea>
            </div>
                       

    
    
                <div style="margin-top:30px; width: 100%; text-align: right;"> 
                    <button  nbButton status="accent" type="button" class="btn btn-outline-secondary" (click)="goStep('step1');">
                        &lt;&lt; ANTERIOR
                    </button>
                    &nbsp;&nbsp;
                    <button  nbButton status="accent" type="button" class="btn btn-outline-secondary" (click)="goStep('step3');">
                        SIGUIENTE &gt;&gt;
                    </button>
                </div>

        </div>


        
        
        <div style="display: none;" id="step3">


            <b>Capacidad para desarrollar las ABVD:</b><br/>

            ¿Es autónomo en el desarrollo de las ABVD?
            <div style="margin-top:10px">
                 <textarea class="form-control" [(ngModel)]="thePatient.pai_fisio_autonomo" >
                 </textarea>
            </div>
            
            ¿Qué ayudas técnicas posee?, ¿necesitaría alguna más?
            <div style="margin-top:10px">
                 <textarea class="form-control" [(ngModel)]="thePatient.pai_fisio_ayudas_tecnicas" >
                 </textarea>
            </div>
            
                                   
    
            <div style="margin-top:30px; width: 100%; text-align: right;"> 
                <button  nbButton status="accent" type="button" class="btn btn-outline-secondary" (click)="goStep('step2');">
                    &lt;&lt; ANTERIOR
                </button>
                &nbsp;&nbsp;
                <button  nbButton status="accent" type="button" class="btn btn-outline-secondary" (click)="goStep('step4');">
                    SIGUIENTE &gt;&gt;
                </button>
            </div>

        </div>


        
        
        <div style="display: none;" id="step4">


            <b>Movilidad:</b><br/>

            ¿Qué movilidad presenta en MM.SS?
            <div style="margin-top:10px">
                 <textarea class="form-control" [(ngModel)]="thePatient.pai_fisio_movilidad_mmss" >
                 </textarea>
            </div>
            
            ¿Qué movilidad presenta en MM. II?
            <div style="margin-top:10px">
                 <textarea class="form-control" [(ngModel)]="thePatient.pai_fisio_movilidad_mmii" >
                 </textarea>
            </div>
            
            ¿Qué movilidad presenta en cuello?
            <div style="margin-top:10px">
                 <textarea class="form-control" [(ngModel)]="thePatient.pai_fisio_movilidad_cuello" >
                 </textarea>
            </div>
            
            ¿Qué movilidad presenta en tronco?
            <div style="margin-top:10px">
                 <textarea class="form-control" [(ngModel)]="thePatient.pai_fisio_movilida_tronco" >
                 </textarea>
            </div>
            
            ¿Qué Equilibrio y control de tronco en sedestación y bipedestación presenta?
            <div style="margin-top:10px">
                 <textarea class="form-control" [(ngModel)]="thePatient.pai_fisio_equilibrio" >
                 </textarea>
            </div>
            
            ¿Realiza bipedestación?
            <div style="margin-top:10px">
                 <textarea class="form-control" [(ngModel)]="thePatient.pai_fisio_bipedestacion" >
                 </textarea>
            </div>
            
            ¿Realiza marcha?
            <div style="margin-top:10px">
                 <textarea class="form-control" [(ngModel)]="thePatient.pai_fisio_marcha" >
                 </textarea>
            </div>
            
            ¿Hay riesgo de caídas?
            <div style="margin-top:10px">
                 <textarea class="form-control" [(ngModel)]="thePatient.pai_fisio_riesgo_caidas" >
                 </textarea>
            </div>
            
            ¿Presenta deformidades importantes?
            <div style="margin-top:10px">
                 <textarea class="form-control" [(ngModel)]="thePatient.pai_fisio_deformidades" >
                 </textarea>
            </div>
            

                                   
    
            <div style="margin-top:30px; width: 100%; text-align: right;"> 
                <button  nbButton status="accent" type="button" class="btn btn-outline-secondary" (click)="goStep('step3');">
                    &lt;&lt; ANTERIOR
                </button>
                &nbsp;&nbsp;
                <button  nbButton status="accent" type="button" class="btn btn-outline-secondary" (click)="goStep('step5');">
                    SIGUIENTE &gt;&gt;
                </button>
            </div>

        </div>


        
        
        <div style="display: none;" id="step5">


            <b>Capacidad para disfrutar tiempo libre:</b><br/>

            ¿Disfruta de tiempo para el ocio?
            <div style="margin-top:10px">
                 <textarea class="form-control" [(ngModel)]="thePatient.pai_fisio_disfruta_ocio" >
                 </textarea>
            </div>
            
            ¿Dispone de espacios que fomenten el ocio?
            <div style="margin-top:10px">
                 <textarea class="form-control" [(ngModel)]="thePatient.pai_fisio_espacios_ocio" >
                 </textarea>
            </div>
                        
            ¿Mantiene buenas relaciones con su entorno? ¿Disfruta con ellos en su tiempo libre?
            <div style="margin-top:10px">
                 <textarea class="form-control" [(ngModel)]="thePatient.pai_fisio_relaciones_entorno" >
                 </textarea>
            </div>
            
                                   
    
            <div style="margin-top:30px; width: 100%; text-align: right;"> 
                <button  nbButton status="accent" type="button" class="btn btn-outline-secondary" (click)="goStep('step4');">
                    &lt;&lt; ANTERIOR
                </button>
                &nbsp;&nbsp;
                <button  nbButton status="accent" type="button" class="btn btn-outline-secondary" (click)="goStep('step6');">
                    SIGUIENTE &gt;&gt;
                </button>

            </div>

        </div>



        
        
        <div style="display: none;" id="step6">


            Objetivos:
            <div style="margin-top:10px">
                 <textarea class="form-control" [(ngModel)]="thePatient.pai_fisio_objetivos" >
                 </textarea>
            </div>
            
            Tratamiento:
            <div style="margin-top:10px">
                 <textarea class="form-control" [(ngModel)]="thePatient.pai_fisio_tratamiento" >
                </textarea>
            </div>
                                   
    
            <div style="margin-top:30px; width: 100%; text-align: right;"> 
                <button  nbButton status="accent" type="button" class="btn btn-outline-secondary" (click)="goStep('step5');">
                    &lt;&lt; ANTERIOR
                </button>
                &nbsp;&nbsp;
                <button  nbButton status="accent" type="button" class="btn btn-outline-secondary" (click)="goStep('step7');">
                    SIGUIENTE &gt;&gt;
                </button>

            </div>

        </div>


        
        
        
        <div style="display: none;" id="step7">


            <b>Resumen:</b><br/>

            Valoración necesidades:
            <div style="margin-top:10px">
                 <textarea class="form-control" [(ngModel)]="thePatient.pai_fisio_valoraciones" >
                 </textarea>
            </div>

            Actuaciones/actividades:
            <div style="margin-top:10px">
                 <textarea class="form-control" [(ngModel)]="thePatient.pai_fisio_actuaciones" >
                 </textarea>
            </div>

            Incidencias:
            <div style="margin-top:10px">
                 <textarea class="form-control" [(ngModel)]="thePatient.pai_fisio_incidencias" >
                 </textarea>
            </div>
    
            <div style="margin-top:30px; width: 100%; text-align: right;"> 
                <button  nbButton status="accent" type="button" class="btn btn-outline-secondary" (click)="goStep('step6');">
                    &lt;&lt; ANTERIOR
                </button>

            </div>

        </div>



        </div>

    </div>



    <div class="modal-footer">
        <button [disabled]="isProcessing" 
        nbButton status="primary" type="button" class="btn btn-outline-secondary" (click)="savePAIFisio();">
            GUARDAR Y GENERAR PAI
        </button>
    </div>


</ng-template>
  



